<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Chat</title>
    <link
      rel="stylesheet"
      href="{{ url_for('assets', path='/css/style.min.css') }}"
    />

    <script src="{{ url_for('assets', path='/js/websocket.min.js') }}"></script>
  </head>
  <body>
    <!--Topbar-->
    <section class="topbar"><h1>Boring Chatroom</h1></section>

    <!--Chat messages-->
    <section class="chat-display">
      <ul id="messages"></ul>
    </section>

    <!--User message area-->
    <section class="chat-messaging">
      <form action="" onsubmit="sendMessage(event)">
        <input
          class="chat-form"
          type="text"
          id="messageText"
          autocomplete="off"
        />
        <button>Send</button>
      </form>
    </section>
    <!--Footer-->
    <footer></footer>
  </body>
</html>
